<div class="jumbo-france">
  <h1>Host Family</h1>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= image_tag 'oviedo_spain3.jpg', class: 'img-circle', width: '200', height: '200' %>
      <hr/>
      <ul class="list-group">
        <li class="list-group-item fart <%= 'active' if current_page?(pages_spanish_american_path) %>"><%= link_to 'Spanish vs. American', pages_spanish_american_path %></li>
        <li class="list-group-item fart <%= 'active' if current_page?(pages_field_trips_path) %>"><%= link_to 'Field Trips', pages_field_trips_path %></li>
        <li class="list-group-item fart <%= 'active' if current_page?(pages_host_family_path) %>"><%= link_to 'Host Family', pages_host_family_path %></li>
      </ul>

    </div>
    <div class="col-md-6">
      <p>
      There was one part of the trip that I was most nervous for and that was living with a host family. My biggest concern was living with parents and siblings after living on my own for four years. I was also worried about the language barrier. Would I even know what these people were saying? As it turns out, I did know what they were saying…most of the time! My host mom and host brother were so helpful and willing to make me a part of their home. She was also a fantastic chef and I definitely never went hungry in her house. After having 14 host students before me, I guess she knew what she was doing. The only thing that surprised me about my house in Spain was how cold it was! I learned that things like heating and hot water are even more expensive in Europe than they are here. Therefore, I had to buy sweatpants and sweatshirt  for staying warm around the house!
      </p>
    </div>
  </div>

</div>