<div class="jumbo-france">
  <h1>Spanish vs. American</h1>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= image_tag 'san_sebastian_spain1.JPG', class: 'img-circle', width: '200', height: '200' %>
      <hr/>
      <ul class="list-group">
        <li class="list-group-item fart <%= 'active' if current_page?(pages_spanish_american_path) %>"><%= link_to 'Spanish vs. American', pages_spanish_american_path %></li>
        <li class="list-group-item fart <%= 'active' if current_page?(pages_field_trips_path) %>"><%= link_to 'Field Trips', pages_field_trips_path %></li>
        <li class="list-group-item fart <%= 'active' if current_page?(pages_host_family_path) %>"><%= link_to 'Host Family', pages_host_family_path %></li>
      </ul>

    </div>
    <div class="col-md-6">

      <p>
        There were several differences as well as similarities that I noticed while in class in Spain. Just like in America, our teachers in Spain were very willing to help us until we understood what was being taught. They facilitated a classroom environment that was fun as well as educational. The biggest difference was the schedule. We spent two hours in our classroom learning from our first teacher. Then we had a 30 minute break for lunch. After the break, we went back to our classroom and a different teacher came in to teach for 2 hours and that was the end of the school day. We were out by 1:00 pm and had the rest of the day to ourselves!
      </p>
    </div>
  </div>

</div>